<%- include("header") -%>

<h2>This is the about page</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio veritatis
  ab, hic officia maxime voluptatem iste possimus quos delectus. Dolore sunt
  temporibus culpa odit dolorem ea illo repellat dolorum dolor.
</p>

<%- include("footer") -%>
